task3/task_3_algo_development/toy_robot
task3/task_3_algo_development/task_3_output.txt
task3/task_3_algo_development/_build/

task1/task1A/task_1a_go_to_goal/toy_robot
task1/task1A/task_1a_go_to_goal/task_1a_output.txt
task1/task1A/task_1a_go_to_goal/_build/

task1/task1B/task_1b_go_to_goal_obs/_build/
task1/task1B/task_1b_go_to_goal_obs/task_1b_output.txt
task1/task1B/task_1b_go_to_goal_obs/toy_robot

task2/task_2_remote_communication/task_2_phoenix_client/_build
task2/task_2_remote_communication/task_2_phoenix_client/toy_robot
task2/task_2_remote_communication/task_2_phoenix_server/task_2_output.txt
task2/task_2_remote_communication/task_2_phoenix_client/deps

task4/task4C/task_4c_communication_two_robots/task_4c_phoenix_server/task_4c_output.txt
task4/task4C/task_4c_communication_two_robots/task_4c_phoenix_server/task_4c_output.txt
task4/task4C/task_4c_communication_two_robots/task_4c_phoenix_server/task_4c_output.txt
task5/fw_server/task_4c_output.txt
